[Unit]
Description=ASP.NET Web API Application running on Ubuntu

[Service]
WorkingDirectory=/home/agent4mpgp/mpgp/WebApiServer/WebApiServer/bin/Release/netcoreapp2.0
ExecStart=/usr/bin/dotnet /home/agent4mpgp/mpgp/WebApiServer/WebApiServer/bin/Release/netcoreapp2.0/WebApiServer.dll
Restart=always
RestartSec=10
SyslogIdentifier=mpgp-api
User=agent4mpgp
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
